.menu {
    position: absolute;
    height: 200px;
    transition-duration: 0.3s;  
}

.menu form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu form fieldset {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu form  input {
    margin: 1%;
}

.menu form label {
    margin-top: 10%;
}

.menu form select option {
    font-size: 2em;
    text-align: center;
}

.menu form button {
    font-size: 1.3em;
    padding: 3px;
    margin: 1%;
}

.container{
    height: 100%;
    opacity: 0;
}

#form.active {
    opacity: 10;
}

.menuLeft {
    top: 0;
    left: 0; 
}

.menuCenter {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);  
}

.menuCenter #toogle {
    display: none;
}

.menuCenter .container{
    opacity: 10;
}