.burger_button {
    position: relative;
    --w-btn: 50px;
    --h-btn: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--w-btn);
    height: var(--h-btn);
    background: #464545;
    border: 1px solid white;
}

.burger_button i {
    width: 85%;
    height: 13%;
    background-color: white;
    box-shadow: 0px calc(var(--h-btn) / 3.3) 0 0 white ,
    0px calc(var(--h-btn) / -3.3) 0 0 white;
    transition-duration: 0.3s;
}

.burger_button.off {
    transition-duration: 0.3s;
}

.burger_button.on i{
    box-shadow: 0 0 0 0 transparent;
    transform: rotate(47deg);
}

.burger_button.on i::after{
    content: '';
    width: 100%;
    height: 100%;
    transform: rotate(-95deg);
    background-color: white ;
    position: absolute;
    box-shadow: 0 0 0 0 transparent;
}